/* CSS declarations go here */

h1 {
	font-family: Times, serif;
	color: #ffffff;
}

h3 {
	color: #ffffff;
}

canvas {
	pointer-events : none;
}

a {
  color : white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 1.2em;
  opacity: 0.7;
  text-decoration: underline;
}

blockquote {
	font-family: Times, serif;
	font-style: italic;
	font-size: 1.7em;
	color : #ffffff;
  /*background: #f9f9f9;*/
  border-left: none;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color : #ffffff;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote:after {
  color : #ffffff;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.modal-custom {
  background-color: rgba(100,100,100, 0.9);
  color: white;
}

.text-fade-out{

    animation:text-fade-out 4.5s;
    -webkit-animation:text-fade-out 4.5s;
    animation-fill-mode: forwards;

    animation-delay:10s;
    -webkit-animation-delay:10s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;

} 

@keyframes text-fade-out {
    from {opacity :1;}
    to {opacity :0.1;}
}

@-webkit-keyframes text-fade-out{
    from {opacity :1;}
    to {opacity :0.1;}
}


.defaultFont {
	font-family:Times;
  color:white;
  font-size:2em;
	height: 100%;
}

.centerAlign{
    /*display : table-cell;
    vertical-align : middle;
    float:none;*/
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  /*display: table-cell;*/
  /*vertical-align: middle;*/
  margin-top:0%;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.vertical-align {
  transform: translateY(20%);
}

.no-border {
	 border-style: none;
}

.no-shadow {
	 box-shadow: none;
}

.blurMe {
  -webkit-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px); 
}

.background-image {
	position: absolute;
	width: 100%;
	height: 100%;

  -webkit-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px); 
}

.white-image {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(10,1,0,0.5); 
}

.wholescreen {
  position: absolute;
  width: 100%;
  height: 100%;
}
.halfscreen {
  /*position: relative;*/
  /*width: 50%;*/
  height: 50%;
}

path {
  stroke-opacity : 0.9;
  fill-opacity : 0.9;
}
