/* CSS declarations go here */

h1 {
	font-family: Times, serif;
	color: #ffffff;
}

h3 {
	color: #ffffff;
}

canvas {
	pointer-events : none;
}

blockquote {
	font-family: Times, serif;
	font-style: italic;
	font-size: 2em;
	color : #ffffff;
  /*background: #f9f9f9;*/
  border-left: none;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color : #ffffff;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote:after {
  color : #ffffff;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.vertical-align {
  transform: translateY(60%);
}

.no-border {
	 border-style: none;
}

.no-shadow {
	 box-shadow: none;
}

.backgroud-image {
	position: absolute;
	width: 100%;
	height: 100%;

	-webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.white-image {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5); 
}